/* Aqui vamos colocar as variáves para serem utilizadas no CSS */

$cor-primaria: #1B2638 ;
$cor-secundaria: #0D1B2A;
$cor-terciaria: #E0E1DD;
$cor-apoio: white;
$cor-apoio-2: #ff6200;
$cor-apoio-3: #333;
$cor-generica: black;
$fonte: "roboto", sans-serif;
/* São as variáveis que dão espaço pro padding e gap */
$gap-padrao: 1rem;
$gap-media: 1.5rem;
$gap-secundario: 0.5rem;
$gap-conteiner: 3rem;