
/* Reset CSS */
/* */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Container dos Serviços */
#container{
    width: 90vw;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
 justify-content: center;
    gap: 1rem;
    z-index: 1;
    margin: 0;


}
.item{
    position: relative; /* OBRIGATÓRIO: Mantém a imagem presa dentro do quadrado */
    overflow: hidden; /* Esconde a parte da imagem que ultrapassa o quadrado */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   /* Garante centralização horizontal perfeita do h1/p */
    font-size: 1.4rem;
    background-color:#E0E1DD;
    text-align: center;
    border-radius: 10px;
    padding: 3rem;
    z-index: 1;
    transition: background-color 0.8s, color 0.8s; 

    
}

.item img{
    position: absolute; /* Tira a imagem do fluxo e joga para trás */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; 
    z-index: -5; /* Garante que a imagem fique atrás do texto */
    opacity: 0.50; /* Deixa a imagem mais clara para destacar o texto */
    transition: opacity 0.8s;
    padding: 0.2rem;
    transition: 0.8s;
}


.item:hover{
    background-color: #ff6200;
    color: #E0E1DD;
    transition: 0.8s;
}
.item p{
    display: none;
    font-size: 2rem;
   text-align: justify;
}
.item:hover p{
    display: block;
    transition: 0.8s;
}
.item:hover img{
    display: none;
    transition: 0.8s;
}
.item:hover h1{
    
    display: none;
    transition: 0.8s;

}
/* Depoimentos */

/* Depoimentos - carousel */

.carousel{
    width: 90vw;
    display: grid;
    margin: 0.5em auto;
    gap: 1em;
    overflow-x: auto;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    grid-auto-flow: column;  /* Força os itens a ficarem na mesma linha */
    grid-auto-columns: 100%; /* Cada depoimento ocupa 100% da largura visível */
    scroll-snap-type: x mandatory;  /* Faz o "imã" para parar no depoimento certo */
    gap: 1rem;
    z-index: 1;

}


.carousel::-webkit-scrollbar{/* Esconde a barra de rolagem no Chrome, Safari e Opera */
    display: none;
}

.carousel::scroll-button(right), .carousel::scroll-button(left){
    margin-top: 0.3em;
    content: '>';
    border: none;
    background-color: #333;
    color: #E0E1DD;
    font-size: 2rem;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    cursor: pointer;
    position-anchor: --carousel;
    position-area: right bottom; ;
    position: fixed;
    z-index: 2;
}
.carousel::scroll-button(left){
    content: '<';
    position-area: left bottom; ;
}
.carousel::scroll-button(right):disabled, .carousel::scroll-button(left):disabled{
    background-color: #ccc;
    cursor: auto;
    opacity: 0.5;
    
}

.depoimentos h1{
    padding: 0;
    margin: 0;
}
.itemDepoimentos{
    scroll-snap-align: center;/* Alinha o item ao centro ao rolar */
    padding: 1em;
    text-align: justify;
    background-color: #E0E1DD;
    border-radius: .5em;
    padding: 1em;
}

/* Cabeça dos depoimentos */
.cabeca-depoimentos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 0.75em;
    margin-bottom: 0.5em;
  border-bottom: 2px solid black;

}
img.foto-depoimentos{
    width: 7rem;
    height: 8rem;
    border-radius: 30em;
    object-fit: cover;
}



header{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    grid-area: header;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #0D1B2A;
   

}
i#burguer{
    color: #E0E1DD;
    font-size: 2.7rem;
    cursor: pointer;
    display:block;
    position: relative;
    z-index: 11;
}
.banner h2{
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 1rem;

}
#home{
    font-size: 4rem;
    text-align: center;

    border-bottom: 0.1rem solid #ff6200;
    margin-bottom: 1rem;
    padding-bottom: 1.2rem;
}
/*Sobre */
#sobre{
    text-align: center;
}


main{
    grid-area:main;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: justify;
    padding:  1rem;
}

div.nav-mobile{
    background-color: #ff6200;
    display: none;
    height: 50%;
    width: 65%;
    position: absolute;
    top: 2.75rem;
    z-index: 10;
    align-items: raw;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0 0 0 10px;
}


div.nav-mobile ul{
    display: flex;
    flex-direction: column;
    list-style: none;
  
    justify-content: space-around;
    height: 100%;
    gap: 1.5rem;
}
div.nav-mobile ul li a{
    color: white;
    text-decoration: none;
   font-size: 2rem;
}


/* Tentantdo utilizar o grid layout */
body{
    display: grid;
     min-height: 100dvh;
    grid-template-rows: auto 1fr  auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";

background-color: #1B2638;
grid-template-columns: 1fr;    
}
footer{
    grid-area: footer;
    background-color: #0D1B2A;
    color: white;
    text-align: center;
    padding: 1rem ;
    
}


header{
    grid-area: header;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

/* Contatos */
.contato {
    
    background-color: #E0E1DD;
    margin-top: 2em;
      border: 1px solid ;
    border-radius: 0.5em;


}
.contato ul li{
    font-size: 1.8rem;
    text-align: left;
   text-decoration: none;
    color: #0D1B2A;
     padding: 0.5rem;
}
.contato ul{
    list-style: none;

}

.contato form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    margin: 0 auto;
  
    width: 100%;
}
.contato form input, .contato form textarea, .contato form button{
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}   

@media (min-width: 1024px){

    body {
        display: grid;
        /* Define 3 colunas: as laterais pegam 1 parte flexível e o main pega no máximo 1200px */
        grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
        
        /* O ponto (.) cria um espaço vazio/respiro nas laterais do main */
        grid-template-areas: 
            "header header header"
            ".      main   ."
            "footer footer footer";
            
        min-height: 100vh;
                background-color:#0D1B2A;

    }
  
    header {
        grid-area: header;
    }

    main {
        grid-area: main;
        width: 100%; /* Garante que o main use todo o espaço da coluna central */
        justify-self: center; /* Mantém o main perfeitamente centralizado */
        background-color: #1B2638;
        border-radius: 1rem;
    }
    #container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: center;
    gap: 1rem;
    z-index: 1;
    margin: 0;
    }
    footer {
        grid-area: footer;
    }
    .carousel{
    width: 68vw;
    display: grid;
    margin: 0.5em auto;
    gap: 1em;
    overflow-x: auto;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    grid-auto-flow: column;  /* Força os itens a ficarem na mesma linha */
    grid-auto-columns: 100%; /* Cada depoimento ocupa 100% da largura visível */
    scroll-snap-type: x mandatory;  /* Faz o "imã" para parar no depoimento certo */
    gap: 1rem;
    z-index: 1;

    }
    .contato form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    margin: 0 auto;
    
    min-width:70dvw;
    }
    
    .contato form button:last-child{
    margin-left: auto;
    margin-right: auto;
    width: 30dvw;
    }

   #container{
        background-image: radial-gradient(#1B263B, #0D1B2A);
    padding: 1.5rem;
   }

    
}